<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= message %></h1>
  <form action="/login" method="post">
    <input type="text" name="Number" placeholder="Enteru you number">
    <input type="text" name="Password" placeholder="Enter you password">
    <button type="submit">login now</button>
  </form>
</body>
</html>
